.card-child,
.japanese-store-name {
  align-self: stretch;
  position: relative;
}
.card-child {
  flex: 1;
  border-radius: var(--br-3xs) var(--br-3xs) 0 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.japanese-store-name {
  font-weight: 600;
}
.fukuchiyama-kyoto {
  align-self: stretch;
  position: relative;
  font-size: var(--text-links-size);
  color: #9b9b9b;
}
.japanese-store-name-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4px;
}
.lorem-ipsum-dolor {
  align-self: stretch;
  position: relative;
  font-size: var(--text-links-size);
  line-height: 21px;
}
.card,
.frame-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent {
  align-self: stretch;
  border-radius: 0 0 var(--br-3xs) var(--br-3xs);
  background-color: var(--color-white);
  padding: 20px;
  gap: var(--gap-3xs);
}
.card {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 2px 20px rgba(33, 16, 4, 0.1);
  width: 429px;
  height: 531px;
}
.card-parent {
  position: relative;
  width: 100%;
  height: 467px;
  text-align: left;
  font-size: 21px;
  color: var(--color-black);
  font-family: var(--text-links);
}
