.black-bg,
.mask-group-icon {
  position: absolute;
  top: 50px;
  left: 735px;
  width: 1175px;
  height: 974px;
}
.black-bg {
  border-radius: 20px 0 0 0;
  background-color: #262626;
}
.mask-group-icon {
  object-fit: cover;
}
.sed-ut-perspiciatis {
  position: absolute;
  top: 150px;
  left: 834.16px;
  line-height: 36px;
  font-weight: 500;
  display: inline-block;
  width: 557px;
}
.knomad-logo-icon {
  position: absolute;
  top: calc(50% - 34.62px);
  left: calc(50% - 35.29px);
  width: 70px;
  height: 70px;
  object-fit: cover;
}
.logo-icon {
  position: relative;
  width: 90px;
  height: 90px;
  overflow: hidden;
  flex-shrink: 0;
}
.lorem-ipsum-dolor1,
.sign-in-to {
  position: relative;
  font-family: var(--text-links);
}
.sign-in-to {
  font-size: var(--inter-bold-size);
  color: var(--color-darkslategray);
  text-align: left;
}
.lorem-ipsum-dolor1 {
  font-size: var(--text-links-size);
  line-height: 21px;
  color: #9a9a9a;
  text-align: center;
  display: inline-block;
  width: 437px;
  height: 19px;
  flex-shrink: 0;
}
.sign-in-to-knomad-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.frame-child,
.label {
  font-family: var(--text-links);
  font-size: var(--text-links-size);
}
.label {
  align-self: stretch;
  position: relative;
  font-weight: 500;
  color: var(--color-darkslategray);
  text-align: left;
}
.frame-child {
  border: 1px solid var(--color-gainsboro);
  background-color: var(--color-white);
  border-radius: var(--br-5xs);
  box-sizing: border-box;
  height: 40px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-2xs) var(--padding-3xs);
  align-items: center;
  justify-content: flex-start;
}
.first-name,
.label-parent {
  position: absolute;
  top: 0;
  left: 0;
}
.label-parent {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.first-name {
  width: 345px;
  height: 67px;
}
.input {
  position: relative;
  font-size: var(--text-links-size);
  font-family: var(--text-links);
  color: var(--color-darkslategray);
  text-align: left;
  display: inline-block;
  width: 325px;
  flex-shrink: 0;
  z-index: 0;
}
.dropdown-icon {
  position: absolute;
  margin: 0 !important;
  top: 22.08px;
  left: 335.46px;
  border-radius: 0.2px;
  width: 8px;
  height: 4.16px;
  display: none;
  z-index: 1;
}
.input-parent {
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
  height: 40px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-2xs) var(--padding-3xs);
  align-items: center;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-3xs);
}
.first-name1 {
  position: absolute;
  top: 87px;
  left: 0;
  width: 345px;
  height: 67px;
}
.first-name-parent {
  position: relative;
  width: 345px;
  height: 154px;
}
.checkbox-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 4px;
  background-color: var(--darker-turquoise);
}
.vector-icon {
  position: absolute;
  height: 44.44%;
  width: 61.08%;
  top: 27.78%;
  right: 19.48%;
  bottom: 27.78%;
  left: 19.44%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.checkbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
}
.forgot-password,
.remember-me {
  position: absolute;
  top: 0.5px;
  font-size: var(--text-links-size);
  font-family: var(--text-links);
  text-align: left;
}
.remember-me {
  left: 32.35px;
  font-weight: 500;
  color: var(--color-darkslategray);
  display: inline-block;
  width: 102.26px;
}
.forgot-password {
  left: 226.46px;
  color: var(--darker-turquoise);
}
.checkbox-parent {
  position: relative;
  width: 345.46px;
  height: 18px;
}
.export-as-csv {
  position: relative;
  font-size: var(--text-links-size);
  font-weight: 600;
  font-family: var(--text-links);
  color: var(--color-white);
  text-align: center;
}
.cta,
.logo-icon-parent {
  display: flex;
  align-items: center;
}
.cta {
  cursor: pointer;
  border: 0;
  padding: 12px 24px;
  background-color: var(--darker-turquoise);
  border-radius: var(--br-5xs);
  width: 345px;
  flex-direction: row;
  box-sizing: border-box;
  justify-content: center;
}
.logo-icon-parent {
  position: absolute;
  top: 176.36px;
  left: 150px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 30px;
}
.knomad-logo-1-icon,
.knomad-logo-icon1 {
  position: absolute;
  top: 0.83px;
  left: 0;
  width: 60px;
  height: 60px;
  object-fit: cover;
}
.knomad-logo-1-icon {
  top: 0;
  left: 80px;
  width: 239.47px;
}
.full-logo,
.knomad-logo-icon-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 319.47px;
  height: 60.83px;
}
.full-logo {
  top: 481.59px;
  left: 560.27px;
  display: none;
}
.super-admin-log-in {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: 24px;
  color: var(--color-white);
  font-family: var(--text-links);
}
